body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.theme {
  background-color: #d98f8f;
}
.homeScreenOption {
  width: 35%;
  height: 200px;
  background-color: white;
  margin: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.twothirdContainer {
  width: 70%;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 5;
  align-self: flex-start;
  align-items: center;
}
.companyInfo {
  height: 90%;
  width: 30%;
  margin: 5;
  padding: 5;
  margin: 5;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}
